<% provide(:title, 'Contact') %>
<div class="row">
	<div class="span4">
		<div class="container">
		<ul class="navbar">
			<font face="monotype corsiva" color="Blue" size="12">
     <li >Kunal Jaiswal</li><br>
     <li >Sarika Kale</li><br>
     <li >Tushar Titame</li>
            </font>
         </ul>
     </div>
     </div>
	<div class="span8">
    <%= image_tag "dm103.JPG", :size=> "700x700" %>
     <br>
     <h1>dmce103@gmail.com</h1>
     </div>
</div>
