<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @to.username %>,</h1>
    <p>
      Your bus was at <%= @pos.current_pos %>.Broadcasted by <%= @by.username %>.
    </p>
  </body>
</html>
